

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --footer-header-text: #FFC2E6;
  --bg-color: #ff8dcb;
  --text-color: #353430;
  --shadow-color: #FF8DCB;
  --shadow-color__big: #ff0070;
  --decor-button-border: #353430;
  --decor-button-hover: rgba(50, 49, 45, 0.4);
  --text-bg: #ff8dcb;
}

.theme_light .rec-decor {
  display: none;
}

/* Нужно для переключение авто темы */
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --footer-header-text: #FFC2E6;
    --bg-color: #ff8dcb;
    --text-color: #353430;
    --shadow-color: #FF8DCB;
    --shadow-color__big: #ff0070;
    --decor-button-border: #353430;
    --decor-button-hover: rgba(50, 49, 45, 0.4);
    --text-bg: #ff8dcb;
    --rec-decor: none;
  }
}
